"## {{httpMethod}} /{{baseName}}{{#subresourceOperation}}{{path}}{{/subresourceOperation}} \n\n",
{{#summary}}"_{{summary}}_\n\n",{{/summary}}
{{#notes}}"{{notes}} \n\n",{{/notes}}
{{> pathParams}}
{{> queryParams}}
{{> bodyParam}}
{{> formParams}}
""