{{! Copyright (c) Jupyter Development Team. }}
{{! Distributed under the terms of the Modified BSD License. }}
{{#hasPathParams}}
    "Path Parameters: \n\n",
    {{#pathParams}}
        {{#isPathParam}}"* {{paramName}} {{^required}}(optional){{/required}}{{#required}}(required){{/required}} - {{description}}\n",{{/isPathParam}}
    {{/pathParams}}
    "\n\n",
{{/hasPathParams}}

