{{! Copyright (c) Jupyter Development Team. }}
{{! Distributed under the terms of the Modified BSD License. }}
{{#hasQueryParams}}
    "Query Parameters: \n\n",
    {{#queryParams}}
        {{#isQueryParam}}"* {{paramName}} {{^required}}(optional){{/required}}{{#required}}(required){{/required}} - {{description}}\n",{{/isQueryParam}}
    {{/queryParams}}
    "\n\n",
{{/hasQueryParams}}

